<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youlai.boot.system.mapper.AiModelMapper">

    <!-- 获取模型信息分页列表 -->
    <select id="getAiModelPage" resultType="com.youlai.boot.system.model.vo.AiModelVO">
        SELECT
                id,
                provider_id,
                model_name,
                input_price,
                output_price,
                create_time,
                update_time
        FROM
            ai_model
        <where>
            <if test="queryParams.modelName != null and queryParams.modelName != ''">
                AND model_name = #{queryParams.modelName}
            </if>
        </where>
    </select>

</mapper>
